html { 
  background: url(livres.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body  {
font-size: small; 
font-family: verdana, arial, serif;
text-align: justify;
text-indent: 10px;
color : #5F1914
}


h1
{
font-weight: bold;
color : #8A5C2A
}

/* Container holding the image and the text */


